* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
html {
  font-family: "Roboto", sans-serif;
  background: #000;
  color: #fff;
  overflow: hidden;
}
.tvSocket {
  text-align: center;
}
.aqi {
  font-size: 100px;
  margin: 300px 0 0 700px;
  text-align: center;
}
.trains {
  font-size: 40px;
}
